@import url(https://fonts.googleapis.com/css?family=Six+Caps);

* {
    margin: 0;
    padding: 0;
}


body{

 
   background-color:
    teal!important;
}

h1{

    font-family: 'Six Caps', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size:4em;
    color:white;
    text-align: center;
  
    

}

.colorboot{
    background-color: #222;
    padding: 3em;
    margin-bottom: 5%;

}

#myButton{
    margin:0 auto;
    padding: 1em;
    color:
    white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    background-color: #222;
    border: solid
    #f0f8ff00;
    border-radius: 15px;
    transition:0.4s;

    
}

.booty{
    display: flex;
    align-items: center;

}

#myButton:hover{

    background-color:white;     
    transition:0.4s;
    color:#2d3131;
 

    
}

.superContain{
    align-content: center;
    justify-content: center;
   
    align-items: center;
    width: 33%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

p{

color:#2d3131;
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 1em;
padding-left: 1.2em;
border-radius: 30px;
margin-top: 3%;

}

p:nth-child(2){
font-size:0.9em;
}

.avatar{
    width: 100%;
}
.avatar_img img{
    width: 100%;
    
}



.data_db_txt{
    padding: 2%;
    width: 50%;
}



#blockToDisplay{
  
    display: flex;
    justify-content: center;
    

    background-color:
    #fff;
   
    border-radius: 20px;
    padding: 5%;
    color: black;
    font-family: arial;
    font-weight: 900;

    color:
    #2d3131;
   
    margin-top: 3%;



}


@media screen and (max-width: 1142px) {
    #blockToDisplay {
        width: 130%;
    }
  }

  @media screen and (max-width: 888px) {
    #blockToDisplay {
        width: 180%;
    }
  }

  @media screen and (max-width: 650px) {
    #blockToDisplay {
        padding: 15%;
        flex-direction: column;
        
    }
    .colorboot{
    
        padding: 2em;
       
    }

    .superContain {
     
        height: 100%;
      
    }

    .data_db_txt {
        padding: 2%;
        width: 100%;
    }

    h1{

       
        margin-bottom: 12%;
    }
  }


  
